

.reveal a {
	color: #222;
	text-decoration: none;
}

.reveal h2 a {
	border-bottom: 1px dashed #222;
}

.reveal h2 a:hover {
	border-bottom: 1px dashed #222;
}

.reveal section img.undecorated {
	border: none;
	box-shadow: none;
	background: none;
}

.reveal .text-align-left {
	text-align: left;
}

.reveal .heading-overlay {
	padding: 40px 0;
	background-color: rgba(255,255,255,1);
}

.reveal .fa-ul {
	list-style: none;
}

.reveal .profile_pic img {
	margin: 0;
	height: 200px;
	width: 200px;

	border: none;
	border-radius: 50%;
}

.reveal .profile_pic p {
	font-size: 18px;
	text-align: center;
	margin: 2px auto;
}

.slide-project-logos img {
	margin: 0;
	width: 150px;
	height: 150px;
}

.slide-project-logos .column p {
	margin: 0;
	font-size: 24px;
}

.slide-software a {
	display: block;
	height: 200px;
	line-height: 200px;
}

.slide-software img {
	margin: 0;
}

.slide-software .column p {
	margin: 0;
	font-size: 24px;
}

#demo-sorting .row {
	min-height: 200px;
}

line {
	stroke: #000;
	stroke-width: 1.5px;
}

.viewer_3Dmoljs {
	width: 400px;
	height: 400px;
	position: relative;
}
